**------------------------------------------------------------------------------------------------------------------------------------------------------**

**Input: Annotated Datasets**

**Computes the Kappa-Score + Confidence Levels**

**Output: Kappa-Score + Confidence Levels**

**------------------------------------------------------------------------------------------------------------------------------------------------------**

# Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import cohen_kappa_score
from collections import Counter

**Get True Label**

In [2]:
df = pd.read_csv('../Output/new_links_after_shuffle_labelled.csv')

In [3]:
print(f'# Query Foods: {len(df)}')

# Query Foods: 1187

**Get Annotated Datasets**

In [4]:
df_alie = pd.read_excel('../Input Data/Dataset_2_annotate_Alie.xlsx', sheet_name='Dataset_2_annotate')

In [5]:
print(f'# Query Foods: {len(df_alie)}')

# Query Foods: 1187

In [6]:
df_ilse = pd.read_excel('../Input Data/Dataset_2_annotate_Ilse.xlsx', sheet_name='Dataset_2_annotate')

In [7]:
print(f'# Query Foods: {len(df_ilse)}')

# Query Foods: 1187

**Merge all datasets into one**

In [8]:
df['Healthiness_Alie'] = df_alie['Healthiness']
df['Healthiness_Ilse'] = df_ilse['Healthiness']
df.head(5)

,Unnamed: 0,Food label,Subs A,Subs B,True label,Healthiness_Alie,Healthiness_Ilse
0,0,"BUTTER OIL,ANHYDROUS","CHEESE,MEXICAN,QUESO CHIHUAHUA","CHEESE,LOW-SODIUM,CHEDDAR OR COLBY",Sub B,Sub B,Sub B
1,1,"CHEESE,BRICK","CHEESE,MOZZARELLA,WHL MILK","CHEESE,LOW-SODIUM,CHEDDAR OR COLBY",Sub B,Sub A,Sub A
2,2,"CHEESE,CHEDDAR","CHEESE,COLBY","EGG,WHL,RAW,FRSH",Sub B,NaN,Sub B
3,3,"CHEESE,FETA","CHEESE,SWISS","CHEESE,FONTINA",Sub A,Sub B,Sub B
4,4,"CHEESE,FONTINA","CHEESE,BRIE","CHEESE,SWISS",Sub B,Sub B,Sub B

**Preprocess dataset**

In [9]:
print(Counter(df['Healthiness_Alie']))
print(Counter(df['Healthiness_Ilse']))

Counter({nan: 1065, 'Sub A': 58, 'Sub B': 33, 'NC': 28, '? Sub A': 1, '? Sub B': 1, 'Sub A ': 1})
Counter({nan: 790, 'NC': 195, 'Sub B': 103, 'Sub A': 99})

In [10]:
#If any NA values are present, drop that row.
df_filtered = df.dropna(subset=['Healthiness_Alie', 'Healthiness_Ilse'], how='any')

In [11]:
print(Counter(df_filtered['Healthiness_Alie']))
print(Counter(df_filtered['Healthiness_Ilse']))

Counter({'Sub A': 29, 'NC': 25, 'Sub B': 18})
Counter({'Sub A': 27, 'NC': 23, 'Sub B': 22})

**Compute Kappa-Score**

In [12]:
cohen_kappa_score(df_filtered['Healthiness_Alie'], df_filtered['Healthiness_Ilse'])

0.6431486880466473

In [13]:
match = df_filtered[df_filtered['Healthiness_Alie'] == df_filtered['Healthiness_Ilse']]
num_match = len(match)
print(f'# Matches between Nutri-Scholars: {num_match}')

# Matches between Nutri-Scholars: 55

In [14]:
print(f'# Dataset (after removing NA): {len(df_filtered)}')

# Dataset (after removing NA): 72

In [15]:
num_match/len(df_filtered)

0.7638888888888888

**Compare to True Label**

In [16]:
match2 = match[match['True label'] == match['Healthiness_Ilse']]
num_match2 = len(match2)
print(f'# Matches between True Label and Nutri-Scholars: {num_match2}')

# Matches between True Label and Nutri-Scholars: 17

In [17]:
#Delete NC options.
df_filterd2 = match[(match['Healthiness_Alie'].str.contains('NC')==False) | (match['Healthiness_Ilse'].str.contains('NC')==False)]
print(f'# Dataset (after removing NC and by taking only the rows in which the two domain expters agree to each other): {len(df_filterd2)}')

# Dataset (after removing NC and by taking only the rows in which the two domain expters agree to each other): 35

In [18]:
num_match2/len(df_filterd2)

0.4857142857142857